@import "tailwindcss";

@font-face {
  font-family: "archivo";
  src: url("/font.ttf");
}

* {
  font-family: archivo;
  transition: all 0.3s;
}

:root {
  --background1: #e7e7e7;
  --background2: #fff;
  --background3: #070;
  --background4: #ccc;
  --color1: #272727;
  --color2: #aaa;
  --invert: invert(0%);
}

[data-theme="dark"] {
  --background1: #333;
  --background2: #555;
  --background3: #0c0;
  --background4: #777;
  --color1: #d7d7d7;
  --color2: #999;
  --invert: invert(100%);
}

input::placeholder {
  color: var(--color2);
}
