@import "tailwindcss";

@font-face {
  font-family: "archivo";
  src: url("/font.ttf");
}

* {
  font-family: archivo;
  transition: all 0.3s;
}

:root {
  --background1: #e7e7e7;
  --background2: #fff;
  --background3: #070;
  --background4: #ccc;
  --color1: #272727;
  --color2: #aaa;
  --color3: #777;
  --invert: invert(0%);
}

[data-theme="dark"] {
  --background1: #333;
  --background2: #555;
  --background3: #0b0;
  --background4: #777;
  --color1: #eee;
  --color2: #999;
  --color3: #aaa;
  --invert: invert(100%);
}

body {
  overflow-y: scroll;
}

input::placeholder {
  color: var(--color2);
}

.cartPageMobileIn {
  animation: mobileIn 0.5s;
}

.cartPageMobileOut {
  animation: mobileOut 0.5s forwards;
}

.cartPageDesktopIn {
  animation: desktopIn 0.5s forwards;
}

.cartPageDesktopOut {
  animation: desktopOut 0.5s forwards;
}

@keyframes mobileIn {
  0% {
    transform: translate(30%, 40%) scale(15%, 10%);
  }
  50% {
    transform: translate(30%, 0%) scale(15%, 100%);
  }
  100% {
    transform: translate(0%, 0%) scale(100%, 100%);
  }
}

@keyframes mobileOut {
  0% {
    transform: translate(0%, 0%) scale(100%, 100%);
  }
  50% {
    transform: translate(30%, 0%) scale(15%, 100%);
  }
  100% {
    transform: translate(30%, 40%) scale(15%, 10%);
  }
}

@keyframes desktopIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes desktopOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

svg * {
  transform-box: fill-box;
  transform-origin: center;
}

.bounce {
  animation: bounceAnim 0.5s;
  animation-delay: 1.2s;
}

@keyframes bounceAnim {
  0% {
    transform: scale(1.2, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
